.App {
    text-align: center;
  }

  nav,h4{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 10vh;
      background : lightcoral;
      color : white
  }